.movie-image {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  height: 450px;

  .background {
    transition: backdrop-filter 0.3s ease-in-out;
    border-radius: 6px;
  }

  &:hover {
    transform: scale(1.02);

    .play-icon {
      display: block;
    }
  }

  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    display: none;
    z-index: 99;
  }

  .poster {
    width: 300px;
    height: 100%;
    border-radius: 6px;
    filter: brightness(1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  }
}
