.banner {
  width: 100%;
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  gap: 40px;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  }
}

.info {
  height: 270px;
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);

  .text {
    text-align: left;

    h1 {
      margin-bottom: 14px;
    }

    p {
      font-size: 18px;
    }
  }

  button {
    height: 28px;
    width: max-content;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
  }
}

.movie-image {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  height: 450px;

  .background {
    transition: backdrop-filter 0.3s ease-in-out;
    border-radius: 6px;
  }

  &:hover {
    transform: scale(1.02);

    .play-icon {
      display: block;
    }
  }

  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    display: none;
    z-index: 99;
  }

  .poster {
    width: 300px;
    height: 100%;
    border-radius: 6px;
    filter: brightness(1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  }
}
